@import "tailwindcss";



::-webkit-scrollbar{
  width: 0%;
}

body,html{
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #F0F0F0;
}

.smooth-scroll {
scroll-behavior: smooth;
}
@font-face {
  font-family: Gt;
  src: url(/public/assets/Gt.otf);
}

.Gt{
  font-family: Gt;
}

@font-face {
  font-family: Gt2;
  src: url(/public/assets/Gt2.otf);
}

.Gt2{
  font-family: Gt2;
}

@font-face {
  font-family: Gt3;
  src: url(/public/assets/Gt3.otf);
}

.Gt3{
  font-family: Gt3;
}

@keyframes cloudMove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-clouds {
  animation: cloudMove 200s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll {
  animation: scroll 170s linear infinite;
}
